@import './reset.scss';

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-size: $global-font-size;
  color: var(--text-primary);
  background-color: var(--bg-primary);

  @if ($DEBUG) {
    border: 2px solid blue;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}