.item {
  display: inline-flex;
  height: 150px;
  width: 80px;
  flex-direction: column;
  gap: 4px;

  &.done .frame {
    background-color: var(--item-done-bg);
    border: 1px solid var(--item-done-border);

    img {
      opacity: 1;
      filter: saturate(100%);
    }

    &:hover {
      background-color: var(--item-done-bg);
      filter: brightness(0.9);

      &::after {
        display: block;
        opacity: 1;
        filter: none;
      }
    }

    &:active {
      background-color: var(--item-done-bg);
      filter: brightness(0.85);
    }

    &::after {
      display: block;
      opacity: 1;
    }
  }

  .frame {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: $gap-tiny;

    border-radius: 4px;
    border: 1px solid var(--border-color);
    background: none;
    padding: 0;

    cursor: pointer;

    &:focus-visible {
      outline: 2px solid var(--link-color);
      outline-offset: 2px;
    }

    img {
      opacity: 0.7;
      filter: saturate(60%);
    }

    &::after {
      content: '';
      background-color: red;
      height: 40px;
      width: 40px;
      margin-top: 70px;
      margin-left: 74px;
      position: absolute;
      background: url('../image/icon/check.svg') center center no-repeat;
      background-size: cover;
      display: none;
    }

    &:hover {
      background-color: var(--hover-bg);

      img {
        opacity: 1;
        filter: saturate(100%);
      }

      &::after {
        display: block;
        opacity: 0.5;
        filter: saturate(0);
      }
    }

    &:active {
      background-color: var(--hover-bg);
      filter: brightness(0.9);
    }
  }

  .item-text {
    font-size: $small-font-size;
    text-align: center;
  }
}
